.bg {
    width: 100%;
    height: 90dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    padding: 36px;
    width: 30%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg);
    border-radius: 20px;
    box-shadow: var(--shadow-l);
}

.form {
    width: 80%;
    text-align: center;
}

.colorMode {
    width: 5%;
    height: 100%;
    cursor: pointer;
    transition: 0.2s;
    color: var(--text);
    border-radius: 10px;
    padding: 12px;
}

.colorMode:hover {
    color: var(--text-hover);
    transition: 0.2s;
    background-color: var(--bg-hover);
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes checkBounce {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.spanCheck {
    display: inline-block;
    width: 24px;
    height: 24px;
    animation: checkBounce 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.spanLoading {
    display: inline-block;
    width: 24px;
    height: 24px;
    animation: spin 1s linear infinite;
}

.credentialsError {
    margin-top: 5%;
    color: rgb(235, 76, 76);
}

.hidden {
    display: none;
}

.visible {
    display: block;
}