.bg {
    width: 100%;
    height: 90dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboardContainer {
    width: 70%;
    height: 70dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background-color: transparent;
    padding: 30px;
}

@media (max-width: 600px) {
    .dashboardTitle {
        font-size: 1.5em;
    }
}

@media (min-width: 1024px) {
    .dashboardTitle {
        font-size: 2em;
    }
}