.bg {
    width: 100%;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 30%;
    height: 50dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg);
    border-radius: 20px;
    box-shadow: var(--shadow-l);
}

.form {
    display: block;
    text-align: center;
    width: 80%;
}

.power {
    transition: 0.2s;
    border-radius: 99px;
    width: 3%;
    height: 6dvh;
    cursor: pointer;
}

.power:hover {
    transition: 0.2s;
    background-color: white;
    color: var(--text-hover);
    background-color: var(--bg-hover);
}