.bg {
    width: 100%;
    height: 90dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 30%;
    height: 50dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg);
    border-radius: 20px;
    box-shadow: var(--shadow-l);
}

.form {
    width: 80%;
    text-align: center;
}

.power {
    transition: 0.2s;
    border-radius: 99px;
    width: 3%;
    height: 6dvh;
    cursor: pointer;
}

.power:hover {
    transition: 0.2s;
    background-color: white;
    color: var(--text-hover);
    background-color: var(--bg-hover);
}

.services {
    width: 90%;
    height: 80dvh;
    display: flex;
    background-color: var(--bg);
    border-radius: 20px;
    box-shadow: var(--shadow-l);
    padding: 30px;
}

.servicesList {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-right: 10px;
}

.details {
    width: 50%;
    height: 50dvh;
    display: flex;
    background-color: var(--bg);
    border-radius: 20px;
    box-shadow: var(--shadow-l);
    padding: 30px;
}

.detailed {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.navBtn {
    height: 5dvh;
    width: 8%;
    background-color: var(--bg);
}