@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

:root {
  --bg-dark: oklch(0.1 0 264);
  --bg: oklch(0.2 0 264);
  --bg-light: oklch(0.3 0 264);

  --text-hover: oklch(0 0 264);
  --bg-hover: oklch(0.95 0 264);

  --text: oklch(0.96 0 264);
  --text-sec: oklch(0.76 0 264);

  --shadow-s: inset 0 1px 2px #ffffff30, 0 1px 2px #00000030, 0 2px 4px #00000015;
  --shadow-m: inset 0 1px 2px #ffffff50, 0 2px 4px #00000030, 0 4px 8px #00000015;
  --shadow-l: inset 0 1px 2px #ffffff70, 0 4px 6px #00000030, 0 6px 10px #00000015;
}

body.light {
  --bg-dark: oklch(0.76 0 264);
  --bg: oklch(0.86 0 264);
  --bg-light: oklch(1 0 264);

  --text-hover: oklch(0.95 0 264);
  --bg-hover: oklch(0.32 0 264);

  --text: oklch(0 0 264);
  --text-sec: oklch(0.34 0 264);

  --shadow-light-s: 0 1px 2px #0000001a, 0 1px 3px #00000010;
  --shadow-light-m: 0 4px 6px #00000012, 0 10px 15px #0000000d;
  --shadow-light-l: 0 15px 25px #0000000d, 0 20px 40px #00000008;
}

body {
  font-family: "Inconsolata", monospace;
  background-color: var(--bg-dark);
  color: var(--text);
  margin: 0;
  box-sizing: border-box;
}

a {
  color: var(--text-sec);
}

input {
  display: block;
  background-color: var(--bg-light);
  outline: none;
  box-shadow: var(--shadow-m);
  border: none;
  padding: 15px;
  border-radius: 10px;
  width: 100%;
  color: var(--text);
  margin-bottom: 5%;
  box-sizing: border-box;
}

input::placeholder {
  color: var(--text-sec);
}

button {
  width: 80%;
  height: 5dvh;
  border-radius: 15px;
  box-shadow: var(--shadow-m);
  background-color: var(--bg-light);
  border: none;
  color: var(--text);
  font-weight: 700;
  transition: 0.2s;
  cursor: pointer;
}

button:hover {
  color: var(--text-hover);
  background-color: var(--bg-hover);
  transition: 0.2s;
  box-shadow: var(--shadow-l);
}

header {
  display: flex;
  justify-content: flex-end;
  height: 10dvh;
  align-items: center;
  padding-right: 2%;
}