@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

* {
  box-sizing: border-box;
  font-family: "Inconsolata", monospace;
}

body {
  background-color: var(--bg-dark);
  color: var(--text);
}

a {
  color: var(--text-sec);
  text-decoration: none;
}

input {
  display: block;
  background-color: var(--bg-light);
  outline: none;
  box-shadow: var(--shadow-m);
  border: none;
  padding: 15px;
  border-radius: 10px;
  width: 100%;
  color: var(--text);
  margin-bottom: 5%;
}

input::placeholder {
  color: var(--text-sec);
}

button {
  width: 80%;
  height: 5dvh;
  border-radius: 15px;
  box-shadow: var(--shadow-m);
  background-color: var(--bg-light);
  border: none;
  color: var(--text);
  font-weight: 700;
  transition: 0.2s;
  cursor: pointer;
}

button:hover {
  color: var(--text-hover);
  background-color: var(--bg-hover);
  transition: 0.2s;
  box-shadow: var(--shadow-l);
}

header {
  display: flex;
  justify-content: space-between;
  height: 10dvh;
  align-items: center;
  padding-right: 2%;
  padding-left: 2%;
}

nav {
  min-width: 90%;
}