.dropdown {
    position: absolute;
    padding: 16px;
    z-index: 100;
    min-width: 200px;
    right: 0;
    box-shadow: var(--shadow-l);
    background-color: var(--bg);
    border-radius: 10px;
}

.logout {
    font-weight: bold;
}

.profileContainer {
    position: relative;
}

.profileIcon {
    cursor: pointer;
    transition: 0.3s;
    border-radius: 16px;
}

.profileIcon:hover {
    color: var(--text-hover);
    background-color: var(--bg-hover);
    transition: 0.3s;
}

.dropdown li {
    padding: 10px 20px;
    cursor: pointer;
    color: var(--text);
    border-radius: 5px;
    transition: 0.2s;
    display: flex;
    justify-content: flex-start;
}

.dropdown li:hover {
    background-color: var(--bg-hover);
    color: var(--text-hover);
    transition: 0.2s;
}

.loginBtn {
    height: 5dvh;
    width: 30%;
}

.loginLink {
    width: 10%;
    background-color: var(--bg);
    transition: 0.2s;
    padding: 6px;
    display: flex;
    gap: 12px;
    border-radius: 12px;
    box-shadow: var(--shadow-m);
    font-size: 1.2em;
    font-weight: bold;
}

.loginLink:hover {
    color: var(--text-hover);
    background-color: var(--bg-hover);
    transition: 0.2s;
    box-shadow: var(--shadow-l);
}

.homeBtn {
    height: 5dvh;
    width: 30%;
}

.homeLink {
    width: 10%;
    background-color: var(--bg);
    transition: 0.2s;
    padding: 6px;
    display: flex;
    gap: 12px;
    border-radius: 12px;
    box-shadow: var(--shadow-m);
    font-size: 1.2em;
    font-weight: bold;
}

.homeLink:hover {
    color: var(--text-hover);
    background-color: var(--bg-hover);
    transition: 0.2s;
    box-shadow: var(--shadow-l);
}

.ordersLink {
    color: var(--text);
}

.ordersLink:hover {
    color: var(--text-hover);
}