.bg {
    width: 100%;
    height: 90dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.servicesContainer {
    width: 70%;
    height: 70dvh;
    display: flex;
    background-color: var(--bg);
    border-radius: 20px;
    box-shadow: var(--shadow-l);
    padding: 30px;
}

.servicesList {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    gap: 15px;
    padding-right: 10px;
    flex-wrap: wrap;
}

.product {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: var(--shadow-l);
    height: 20%;
    border-radius: 10px;
    flex: 0 1 100%;
}

@media (min-width: 600px) {
    .product {
        flex: 0 1 calc(50% - 15px);
    }
}

@media (min-width: 1024px) {
    .product {
        flex: 0 1 calc(25% - 15px);
    }
}