.bg {
    width: 100%;
    height: 90dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detailsList {
    display: flex;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.colorMode {
    transition: 0.2s;
    border-radius: 99px;
    width: 3%;
    height: 6dvh;
    cursor: pointer;
}

.colorMode:hover {
    transition: 0.2s;
    background-color: white;
    color: var(--text-hover);
    background-color: var(--bg-hover);
}

.homeBtn {
    height: 5dvh;
    width: 8%;
    background-color: var(--bg);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 70dvh;
    background-color: var(--bg);
    border-radius: 20px;
    box-shadow: var(--shadow-l);
    padding: 30px;
}

.form {
    height: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.orderBtn {
    width: 50%;
    height: 5dvh;
    border-radius: 15px;
    box-shadow: var(--shadow-m);
    background-color: var(--bg-light);
    border: none;
    color: var(--text);
    font-weight: 700;
    transition: 0.2s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.orderBtn:hover {
    color: var(--text-hover);
    background-color: var(--bg-hover);
    transition: 0.2s;
    box-shadow: var(--shadow-l);
}

.product {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
}