.bg {
    width: 100%;
    height: 90dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detailsList {
    display: flex;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 70dvh;
    background-color: var(--bg);
    border-radius: 20px;
    box-shadow: var(--shadow-l);
    padding: 30px;
}

.form {
    height: 100%;
    width: 50%;
    gap: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: var(--shadow-m);
    padding: 36px;
    border-radius: 15px;
}

.orderBtn {
    width: 50%;
    height: 5dvh;
    border-radius: 15px;
    box-shadow: var(--shadow-m);
    background-color: var(--bg-light);
    border: none;
    color: var(--text);
    font-weight: 700;
    transition: 0.2s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.orderBtn:hover {
    color: var(--text-hover);
    background-color: var(--bg-hover);
    transition: 0.2s;
    box-shadow: var(--shadow-l);
}

.productDetails {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
}

.checkoutContainer {
    display: flex;
    width: 50%;
    height: 70dvh;
    background-color: var(--bg);
    border-radius: 20px;
    box-shadow: var(--shadow-l);
    padding: 30px;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes checkBounce {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.spanCheck {
    display: inline-block;
    width: 24px;
    height: 24px;
    animation: checkBounce 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.spanLoading {
    display: inline-block;
    width: 24px;
    height: 24px;
    animation: spin 1s linear infinite;
}

.loginError {
    margin-top: 5%;
    color: rgb(235, 76, 76);
}

.hidden {
    display: none;
}

.visible {
    display: block;
}