.bg {
    width: 100%;
    height: 90dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ordersContainer {
    width: 70%;
    height: 70dvh;
    display: flex;
    align-items: center;
    background-color: transparent;
    padding: 30px;
    gap: 30px;
    flex-direction: column;
}

.orderBox {
    width: 50%;
    height: 60dvh;
    display: flex;
    align-items: center;
    background-color: var(--bg);
    border-radius: 15px;
    box-shadow: var(--shadow-l);
    padding: 30px;
    gap: 30px;
    flex-direction: column;
    box-sizing: border-box;
}

.ordersList {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
}

.order {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    box-shadow: var(--shadow-l);
    background-color: var(--bg);
    height: 25dvh;
    border-radius: 10px;
    flex: 0 1 100%;
}

.orderDetails {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
    overflow-y: auto;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.ordersList {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
}

.orderBtn {
    display: flex;
    width: 100%;
    gap: 16px;
    justify-content: center;
}

.spanLoading {
    display: inline-block;
    width: 24px;
    height: 24px;
    animation: spin 1s linear infinite;
}

@media (min-width: 600px) {
    .order {
        flex: 0 1 calc(50% - 15px);
    }

    .ordersTitle {
        font-size: 1.5em;
    }
}

@media (min-width: 1024px) {
    .order {
        flex: 0 1 calc(25% - 15px);
    }

    .ordersTitle {
        font-size: 2em;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes checkBounce {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}