.bg {
    width: 100%;
    height: 90dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.adminContainer {
    width: 70%;
    height: 70dvh;
    display: flex;
    background-color: transparent;
    padding: 30px;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.ordersList {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
}

@media (max-width: 600px) {
    .adminTitle {
        font-size: 1.5em;
    }
}

@media (min-width: 1024px) {
    .adminTitle {
        font-size: 2em;
    }
}