.bg {
    width: 100%;
    height: 90dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.adminContainer {
    width: 70%;
    height: 70dvh;
    display: flex;
    background-color: var(--bg);
    border-radius: 20px;
    box-shadow: var(--shadow-l);
    padding: 30px;
}

.ordersList {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
}